{{> header}}

  <h1>{{ pageTitle }}</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, deserunt. Corporis nulla libero dignissimos illo quam, beatae temporibus deserunt soluta praesentium doloribus nobis veritatis quod sit tempora nihil perferendis nesciunt commodi, rem reprehenderit enim nam dicta! Quod quasi ducimus eaque doloremque quis rerum ut provident facere assumenda commodi, quam harum fugiat perspiciatis impedit magnam quibusdam odio autem incidunt, optio vero. Dignissimos veritatis autem iure quos, consequuntur eos minima adipisci in ea, voluptatem impedit placeat provident nesciunt. Harum, tempora rem aut dolores dolorem, eos aliquid est iste quod obcaecati temporibus repudiandae odio totam dolor. Laboriosam doloribus placeat quas tempora dolore eius!</p>

{{> footer}}
